import React from "react";
import { screen } from "@testing-library/react";

import {{ .Name }} from "./{{ .Name }}";

describe("{{ .Name }}", () => {
  it("should render", () => {
    expect(true).toBe(true);
  });
});
